{% include 'include.html' %}
{% include 'navbar.html' %}
{%load static%}
{% block body %}

{% ifequal error "no" %}
<script type="text/javascript">
	alert('Logged In Sucessfully..........')
	window.location = ('{% url 'adminhome' %}')
</script>
{% endifequal%}

{% ifequal error "yes" %}
<script type="text/javascript">
	alert('Invalid Credentials..........')
</script>
{% endifequal%}

<!--div class="container" style="margin-top: 50px;">
	<h2 class="text-center">Admin Login</h2>
	<form method="post">
		{% csrf_token %}
		<input type="text" class="form-control" name="username" placeholder="username">
		<br>
		<input type="password" class="form-control" name="password" placeholder="password">
		<br>
		<input type="submit" value="Login" class="form-control btn btn-primary">
	</form>
</div -->



<h2 class="sr-only">Admin Login</h2>
<div class="login-dark" style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    <form method="post">
    	{% csrf_token %}

        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Admin Username"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
    </form>
</div>
{% endblock %}
