{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
{% load static %}


<div class="container">
    <h1 class="text-uppercase">Age vs Disease</h1>
    <img src="data:image/png;base64,{{ g1 }}" alt="" width="900" height="600">
</div>

{% endblock %}