

<head>
   <script>(function(w, d) { w.CollectId = "5fc7d46c5028dc35afd0da3d"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
</head>

{% include 'include.html' %}
{% include 'navbar.html' %}
{%load static%}
{% block body %}
<!--section class="general-area-home">
        <h1>Book your consultation with your doctor anywhere!</h1>
        <h3>create an account and save your profile, then book your apppointment</h3>
        <div class="row" id="row1">
            <div class="col offset-lg-0">
                <h2>New to this website..</h2><a class="btn btn-primary" href="{% url 'createaccountpage' %}">Create Account</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">This website allows the you to book an appointment with the respective doctor whom he want to consult, you can view the old appointments, view the prescription, view the reports.<a data-bs-hover-animate="flash" href="{% url 'aboutpage' %}">For more details..</a></p>
            </div>
        </div>
</section-->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url(" {% static 'img/rg.jpg' %} ");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.bt{
background-colo:blue;
}
.txt{
color :black;
}
</style>
</head>
<body>

<div class="hero-image">
  <div class="hero-text txt">
    <h1 style="font-size:50px">Book your consultation with your doctor anywhere!</h1>
    <h3>create an account and save your profile, then book your apppointment</h3>
    <!--button class="bt">Create Account</button --><h2>New to this website..</h2><a class="btn btn-primary" href="{% url 'createaccountpage' %}">Create Account</a>
  </div>
</div>



</body>
</html>



{% endblock %}
