{% load static %}
<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-primary">
    <div class="container-fluid"><img src="{% static 'img/mainicon.png' %}" width="30px" height="30px" alt="10px"><a class="navbar-brand text-center" href="#" style="margin: 0px 0px;">E-HEALTHCARE SYSTEM</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav text-light ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'homepage' %}">HOME</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'graphpage' %}">Graphs</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'aboutpage' %}">ABOUT</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'loginpage' %}">LOGIN</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'createaccountpage' %}">CREATE ACCOUNT</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login_admin' %}">ADMIN LOGIN</a></li>
            </ul>
        </div>
    </div>
</nav>
